.upPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url("../../assest/img/Hue_Saturation\ 5\ 1.png") center center no-repeat;
  background-size: cover;
  justify-content: space-between;

}

.upPage__glow {
  background: url("../../assest/img/glow.png") center center no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // height: 100%;
  filter: brightness(200%);
  opacity: 0.6;
  background-position: 40% 50%;
}

.upPage__mafiaCostume {
  height: min(100vh, 100vw);
}

.upPage__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box__logo {
  width: 50%;
}

.box__boxes {
  position: relative;
  bottom: 10%;
  height: 50vw;
  min-height: 70px;
}

.box__text {
  position: relative;
  bottom: 15%;
  color: white;
  font-style: "Roboto";
  text-shadow:
  -0   -1px 0   rgba( 4, 72, 219, 0.56 ),
  0   -1px 0   rgba( 4, 72, 219, 0.56 ),
 -0    1px 0   rgba( 4, 72, 219, 0.56 ),
  0    1px 0   rgba( 4, 72, 219, 0.56 ),
 -1px -0   0   rgba( 4, 72, 219, 0.56 ),
  1px -0   0   rgba( 4, 72, 219, 0.56 ),
 -1px  0   0   rgba( 4, 72, 219, 0.56 ),
  1px  0   0   rgba( 4, 72, 219, 0.56 ),
 -1px -1px 0   rgba( 4, 72, 219, 0.56 ),
  1px -1px 0   rgba( 4, 72, 219, 0.56 ),
 -1px  1px 0   rgba( 4, 72, 219, 0.56 ),
  1px  1px 0   rgba( 4, 72, 219, 0.56 ),
 -1px -1px 0   rgba( 4, 72, 219, 0.56 ),
  1px -1px 0   rgba( 4, 72, 219, 0.56 ),
 -1px  1px 0   rgba( 4, 72, 219, 0.56 ),
  1px  1px 0   rgba( 4, 72, 219, 0.56 );
  h1 {
    font-size: 1em;
    align-items: center;
  }

  h2 {
    font-size: .7em;
  }
}

@media (max-width: 500px) {
  .mafiaCostume {
    display: none;
  };
  .box {
    height: initial;
    top: 37%;
  }
  .logo {
    width: 100%;
  }
  .glow{
    background-position: 48% 70%;
    filter: brightness(100%);
  }
  .text{

  }
}